# ------ ENVIRONMENT ------ #
# production / development
ENV_MODE=production
ENV_PROJECT_NAME=example
ENV_SERVICE_INTERNAL_HOST=0.0.0.0
ENV_SERVICE_INTERNAL_PORT=8000
ENV_DOCKER_USERNAME=diplomatgmg

# -------- DOCKER -------- #
# Путь до корня проекта относительно compose сервиса
SERVICE_PROJECT_ROOT=../../..
# Путь до корня проекта относительно основного compose
MAIN_COMPOSE_PROJECT_ROOT=../..

# -------- SENTRY --------- #
SENTRY_ENABLED=true
SENTRY_DSN_URL=https://dsn.example/1234567
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0.1
# manual / trace
SENTRY_PROFILE_LIFECYCLE=trace
SENTRY_SLOW_SQL_THRESHOLD=1

# -------- LOGGING -------- #
LOG_LEVEL=INFO

# ------------------------- #
#          DATABASE         #
# ------------------------- #

# --------- MAIN ---------  #
DB_HOST=postgres
DB_NAME=dbname
DB_PORT=5432
DB_USER=dbuser
DB_PASSWORD=dbpass

# ---------POSTGRES -------- #
POSTGRES_DB="${DB_NAME}"
POSTGRES_USER="${DB_USER}"
POSTGRES_PASSWORD="${DB_PASSWORD}"

# --------- REDIS --------- #
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_CELERY_BROKER_DB=1
REDIS_CELERY_RESULT_DB=2
REDIS_BOT_DB=3

# --------- FLOWER --------- #
FLOWER_PORT=5555
FLOWER_CELERY_BROKER_URL="redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_CELERY_BROKER_DB}"

# ------------------------- #
#          Services         #
# ------------------------- #

# ------ API GATEWAY -----  #
API_GATEWAY_HOST=0.0.0.0
API_GATEWAY_PORT=8000
API_GATEWAY_API_KEY=1234567abcdefg

# -------- GPT API -------  #
GPT_API_PORT=8001

# ----- TELEGRAM API -----  #
TELEGRAM_API_PORT=8002

# ----- VACANCY PARSER ---- #
VACANCY_PARSER_PORT=8003

VACANCY_PARSER_HH_CLIENT_ID=client_id
VACANCY_PARSER_HH_CLIENT_SECRET=client_secret
VACANCY_PARSER_HH_ACCESS_TOKEN=access_token
VACANCY_PARSER_HH_EMAIL=email
VACANCY_PARSER_HH_APP_NAME=app_name

# ----- VACANCY PROCESSOR ---- #
VACANCY_PROCESSOR_PORT=8004

# ----- TELEGRAM BOT -----  #
TELEGRAM_BOT_TOKEN=1234567:abcdefg
# for throttling control in seconds
TELEGRAM_BOT_RATE_LIMIT=0.5
TELEGRAM_BOT_SUPPORT_USERNAME=username
TELEGRAM_BOT_USE_WEBHOOK=true
TELEGRAM_BOT_WEBHOOK_URL=https://example.com
TELEGRAM_BOT_WEBHOOK_API_KEY=1234567abcdefg
TELEGRAM_BOT_PORT=8005
# 10 minutes
TELEGRAM_BOT_STATE_TTL=600
# 1 day
TELEGRAM_BOT_DATA_TTL=86400
