{
	email {$ACME_EMAIL}
}

{$CADDY_DOMAIN} {
	encode zstd gzip

	handle /webhook {
		reverse_proxy telegram-bot:{$ENV_SERVICE_INTERNAL_PORT:8000}
	}

	handle /health {
		reverse_proxy telegram-bot:{$ENV_SERVICE_INTERNAL_PORT:8000}
	}

	respond 404
}
