services:
  postgres:
    image: postgres:17.5-alpine
    container_name: postgres
    env_file: ${SERVICE_PROJECT_ROOT}/infra/.env
    command: -p ${POSTGRES_PORT}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-h", "${POSTGRES_HOST}", "-p", "${POSTGRES_PORT}", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 1s
      start_interval: 1s