services:
  pgbouncer:
    image: edoburu/pgbouncer:v1.24.1-p1
    container_name: pgbouncer
    env_file: ${SERVICE_PROJECT_ROOT}/infra/.env
    environment:
      - DB_HOST=${POSTGRES_HOST}
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_PORT=${POSTGRES_PORT}
      - LISTEN_PORT=${PGBOUNCER_PORT}

      - MAX_CLIENT_CONN=${PGBOUNCER_MAX_CLIENT_CONN}
      - POOL_MODE=transaction
      - AUTH_TYPE=scram-sha-256
    ports:
      - "${PGBOUNCER_PORT}:${PGBOUNCER_PORT}"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-h", "${PGBOUNCER_HOST}", "-p", "${PGBOUNCER_PORT}", "-d", "${PGBOUNCER_DB}", "-U", "${PGBOUNCER_USER}"]
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 1s
      start_interval: 1s
